body{
    background-color: lightgrey;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.content{
    width: 100%;
    padding: 15px;
    
}

p span{
    margin:10px;
    padding: 20px;
}

.logo1{
    background-color:rgb(38, 35, 68);
    text-align: left;
    padding: 1px;
}
.topbar{
    display: flex;
     background-color: lightslategrey;
   
   
   }

.orange{
    background-color: orange;
    text-align: center;
    margin-top: 10px;
    padding: 0.8em;
    font-size: 15pt;
    font-weight: bold;
    color: white;
    
}
#foto {
    display: flex;

    justify-content: space-between;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    
  
}
.radieu{
    border-radius: 15px;
}


.image-bg {
    background-image: url("assets/bg-image.png");
    width: 100%;
    height: 100px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
    color: white;
}

.strong {

    font-size: 20pt;
}



#foto1 {
    margin-top: 20px;

}

#foto2 {
    margin-top: 20px;
}

.play {
    text-align: center;
    font-weight: bold;
}

.link{
    background-color:dimgray;
    text-align: center;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    padding: 20px;
    color: white;
}
.logo{
    text-align: center;
    background-color: rgb(173, 172, 172);
}
.phase{
    text-align: left;
    font-weight: bold;
 
}

.blocco{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-around;
                      
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.segmento {
    width: 24%;
    height: 26vw;
    background-color: white;
    margin-top: 15px;
}
.mini {
    width: 40% ;
    height: 10vw;
    margin: 1%;
}

.figure {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
}

.b1x1{
    background-image: url(assets/img_15.jpg);
}
.b1x2{
    background-image: url(assets/img_16.jpg);
}

.b1x3{
    background-image: url(assets/img_17.jpg);
}

.b1x4{
    background-image: url(assets/img_18.jpg);
}

.b2x1{
    background-image: url(assets/img_19.jpg);
}
.b2x2{
    background-image: url(assets/img_20.jpg);
}

.b2x3{
    background-image: url(assets/img_21.jpg);
}

.b2x4{
    background-image: url(assets/img_22.jpg);
}

.b3x1{
    background-image: url(assets/img_11.jpg);
}
.b3x2{
    background-image: url(assets/img_12.jpg);
}

.b3x3{
    background-image: url(assets/img_13.jpg);
}

.b3x4{
    background-image: url(assets/img_14.jpg);
}
.b4x1{
    background-image: url(assets/img_24.jpg);
}
.b4x2{
    background-image: url(assets/img_25.jpg);
}

.b4x3{
    background-image: url(assets/img_26.jpg);
}

.b4x4{
    background-image: url(assets/img_27.jpg);
}
.tick {
    color: darkcyan;
    font-weight:lighter;
    
}




